body{
    font-family: "Comfortaa", sans-serif;
    background-color: #f5efcc;
    padding: 1rem;
}

h1, h2{
    color: #8a3922;
}

ul li strong {
    color: #8a3922;
}

ul {
    line-height: 1.6;
}

.wireframe-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center ;
}

.wireframe {
    flex: 1 1 45%;
    text-align: center;
}

.wireframe img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
}