:root {
    --primary-color: #8a3922;
    --background-color: #f5efcc;
    --text-color: white;
}

header {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 1rem;
    text-align: center;
    width: 100%;
}

header nav {
    margin-top: 0.5rem;
}

header nav a {
    margin: 0 1rem;
    color: var(--background-color);
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Comfortaa', 'Roboto';
    background-color: var(--background-color);
    color: var(--primary-color);
    display: block;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 4rem auto;
    min-height: 100vh;
}

main h1{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}



/*suggestion form*/

.suggestion-form {
    width: 100%;
    margin: 2rem 0;
    border-radius: 6px;
    padding: 2rem;
    border-collapse: collapse;
    background-color: var(--background-color);
    color: var(--primary-color);
    width: 100%;
    max-width: 800px;
}

fieldset {
    border: 7px solid var(--primary-color);
    padding: 1rem;
}

.suggestion-form legend{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.suggestion-form label {
    display: block;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    padding-top: 1rem;
    max-width: 300px;
}

.suggestion-form input[type="text"], textarea, select, option {

    background-color: #dadada;
    padding: .5rem;
    border-radius: 6px;
    font-size: medium;
    margin-bottom: 1rem;
    margin-top: 0;
    border: var(--primary-color) 2px solid;
}

.suggestion-form input[type="submit"] {
    outline: none;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    font-size: 1.2rem;
    color: var(--background-color);
    margin-top: 1rem;
    padding: 1rem;
}
