
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    }

header {
    background: #333;
    padding: 1.5rem;
    text-align: left;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    }

nav {
    background: black;
    }

.navigation {
    display: flex;
    justify-content: center;
    list-style: none;
    }

.navigation li {
    flex: 1;
    }

.navigation a {
    display: block;
    color: white;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    }

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    flex: 1;
    gap: 0;
    padding: 0;
    width: 100%;
    }

main {
    background-color: #ccc;
    padding: 1rem;
    }

aside {
    background-color: white;
    padding: 1.5rem;    
    }

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    }
