@media screen and  (min-width: 768px) {
    main{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    nav ul {
        flex-direction: row;
    }

    nav ul li {
        margin: 0 15px;
    }

    #menu{
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
    }
}